body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.2rem; 
    line-height: 1.2em; 
}

.container {
    width:800px;
    height: 1400px; 
    margin: 0 auto;  
}

.photo-caption {
    background-color: rgba(0,0,0, 0.6); 
    color: #fff; 
    padding: 15px; 
}

header {
    background-color: #000; 
    color: #fff; 
    padding: 20px; 
}

/* CSS Challenge Instructions Instructions */ 

/* 1.
On container, adding a border and padding of 40px to the left and right. Make sure that the width
 of .container does not exceed 800px */
.container {
    box-sizing: border-box;
    border: 40px;
    padding-left: 40px;
    padding-right: 40px;
    }




/*2. 
Position .caption on top of the cat image. Include an example of a combinator selector in your answer  */
.photo-wrapper {
    position:relative;
}

.photo-wrapper > .photo-caption {
    position:absolute;
}


/* 3. 
Create a sticky header at the top of the page. Make sure the head is always on top of other elements */ 

header {
  position: sticky;  
  top: 0;             
  left: 0;
  right: 0;
  background: #e62fa0;
  color: white;
  padding: 1rem;
  z-index: 1;     
}

